*.exe
build/*.bo
connectal/out/
verilator/
vcu108/
spike_install/
test/rv32-intermeidate.o
test/rv32-init.o
test/rv32-mxmhost.o
test/API/*.o
test/MMIO/*.o
test/build
test/dump
test/hex
firrtl-bin-ubuntu-20.04.tar.gz
firtool-1.40.0/
out/
