[submodule "connectal"]
	path = connectal
	url = https://github.com/cambridgehackers/connectal
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/pau-RB/riscv-isa-sim
[submodule "fpgamake"]
	path = fpgamake
	url = https://github.com/cambridgehackers/fpgamake
[submodule "P-RISC-TEST"]
	path = P-RISC-TEST
	url = git@github.com:pau-RB/P-RISC-TEST.git
