[submodule "connectal"]
	path = connectal
	url = https://github.com/cambridgehackers/connectal
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/pau-RB/riscv-isa-sim
[submodule "fpgamake"]
	path = fpgamake
	url = https://github.com/cambridgehackers/fpgamake
[submodule "P-RISC-TEST"]
	path = P-RISC-TEST
	url = git@github.com:pau-RB/P-RISC-TEST.git
[submodule "buildcache"]
	path = buildcache
	url = https://github.com/cambridgehackers/buildcache
[submodule "bsc-contrib"]
	path = bsc-contrib
	url = https://github.com/B-Lang-org/bsc-contrib
[submodule "millw"]
	path = millw
	url = https://github.com/lefou/millw
[submodule "rocket-chip-big32"]
	path = rocket-chip-big32
	url = git@github.com:pau-RB/rocket-chip-big32.git
